<div class="my-5">
    <h2 class="fw-bold text-main py-4">Reset passord:</h2>
    <h3 *ngIf="errMessage.length >0" class="alert alert-danger">{{errMessage}}</h3>
    <form [formGroup]="resetForm" (ngSubmit)="resetPassword(resetForm)">

        <div class="mb-3">
            <label for="">email</label>
            <input  formControlName="email" type="email" class="form-control" />
            <div  class="alert alert-danger"
                *ngIf="resetForm.get('email')?.errors&&resetForm.get('email')?.touched">
                <p *ngIf="resetForm.get('email')?.getError('required')">this required input</p>
                <p *ngIf="resetForm.get('email')?.getError('email')">enter avalid email</p>
            </div>
            <!-- <p *ngIf="invalidInput" class="alert alert-danger">email is Required</p> -->
        </div>
        <div class="mb-3">
            <label for="">new password</label>
            <input formControlName="newPassword" type="password" class="form-control" />
            <div class="alert alert-danger"
                *ngIf="resetForm.get('newPassword')?.errors&&resetForm.get('newPassword')?.touched">
                <p *ngIf="resetForm.get('newPassword')?.getError('required')">this required input</p>
                <p *ngIf="resetForm.get('newPassword')?.getError('pattern')">enter avalid password</p>
            </div>
        </div>
     
        

        <button  type="submit" class="btn btn-success">
         reset Password
        <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span>
        </button>
        

    </form>

</div>