<div class="forgotPassword my-5">
 <form [formGroup]="forgotForm" class="w-75 mx-auto" (ngSubmit)="forgotPassword(forgotForm)">
     <label for="email">email</label>
     <input formControlName="email" type="email" id="email" class="form-control"/>
     <p class="text-success my-3" *ngIf="succesMessage.length >0">{{succesMessage}}</p>
     <p class="text-danger my-3" *ngIf="errMessage.length >0">{{errMessage}}</p>
     <button class="btn bg-main float-end text-light my-3">send code</button>
 </form>
</div>

<div class="verfiyCode my-5 d-none">
 <form [formGroup]="VerfiyForm" class="w-75 mx-auto" (ngSubmit)="verifyCode(VerfiyForm)">
     <label for="resetCode">resetCode</label>
     <input formControlName="resetCode" type="email" id="resetCode" class="form-control"/>
     <button class="btn bg-main float-end text-light my-3">send code</button>
 </form>
</div>