<div class="row gx-0">
    <div class="col-md-9">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
            <img height="400" src="../../assets/img/slider-image-1.jpeg" class="w-100"/>
            </ng-template>  
            <ng-template carouselSlide>
            <img height="400" src="../../assets/img/slider-image-2.jpeg" class="w-100"/>
            </ng-template>  
            <ng-template carouselSlide>
            <img height="400" src="../../assets/img/slider-image-3.jpeg" class="w-100"/>
            </ng-template>  
          </owl-carousel-o>
    </div>
    <div class="col-md-3">
      <img  height="200" src="../../assets/img/slider-image-2.jpeg" class="w-100"/>
      <img height="200" src="../../assets/img/grocery-banner-2.jpeg" class="w-100"/>
    </div>
   
</div>

